<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body onload=donate();>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="{{ "js/qrcode.min.js" | absURL }}"></script>
<script src="{{ "js/donate.js" | absURL }}"></script>
<center>
<div id="donatemessage"></div>
Suggested donation: 5€
<br><br>
<div id="qrcodeElement"></div>
<div id="donatetext"></div>
<br>
Or enter the desired quantity below:
<br>
<div id="donation">
  <input type="text" name="donatebox" id="donatebox" onchange="donate()" style="text-align:center">
  <br><br>
  <img style="cursor:pointer" id="donationbutton" height="30px" onclick="donate()">
</div>
<br>
</center>

<script>
document.getElementById("donatemessage").innerHTML = "<h1>Donate Bitcoin to Enrique</h1>";
</script>
{{ partial "footer.html" . }}

</body>
</html>
